{% extends 'orders/base.html' %}
{% block content %}
    <section>
            <div class="container">
                <div class="main-content">
                    <div class="products">
                        {% if object_list %}
                        {% for order in object_list %}
                            <h4>Заказ {{ order.id }}</h4>
                            <h2>Статус: {{ order.get_status_display }}</h2>
                            <div class="product-list">
                            {% if order.is_active %}
                                <div class="product">
                                    <a href="{% url 'order:order_remove' order.id %}" class="button">Отменить подписку</a>
                                </div>
                                <a href={% url 'order:receipt' order.id %}>Получить чек</a>
                            {% else %}
                                {% for basket in order.basket_history.purchased_items %}
                                    <div class="product">
                                        {{ basket.product_name }}
                                        кол-во: {{ basket.quantity }}
                                        стоимость: {{ basket.sum }} р.
                                    </div>
                                {% endfor %}
                            </div>
                            <h4>Цена заказа: {{ order.basket_history.total_sum }} р.</h4>
                                <a href={% url 'order:receipt' order.id %}>Получить чек</a>
                            {% endif %}
                        {% endfor %}
                        {% else %}
                            <h1> Заказов нет</h1>
                        {% endif %}
                    </div>
                </div>
            </div>

    </section>
{% endblock %}
